In [1]:
# Este arquivo apresenta a avaliação dos dados balanceados em 
# relação a predição da necessidade de suporte ventilatório

In [3]:
import pandas as pd
import numpy as np

In [17]:
dadosSuportePositivo = pd.read_excel("../../database/novosDados/balanceados/suporte_positivo_pp_Jan2021.xlsx")
dadosSuporteNegativo = pd.read_excel("../../database/novosDados/balanceados/suporte_negativo_pp_Jan2021.xlsx")

In [8]:
# Imprimindo os dataframes
dadosSuportePositivo.head()
dadosSuporteNegativo.head()

,CS_SEXO,NU_IDADE_N,CS_RACA,SURTO_SG,FEBRE,TOSSE,GARGANTA,DISPNEIA,DESC_RESP,SATURACAO,DIARREIA,VOMITO,FATOR_RISC,CARDIOPATI,DIABETES,SUPORT_VEN
0,0,6,4,2,1,1,1,1,1,1,2,2,1,1,2,1
1,1,7,4,2,1,1,1,1,1,1,2,2,1,2,1,1
2,1,7,4,2,1,1,2,1,1,1,1,2,2,2,2,1
3,1,7,4,2,1,1,2,1,1,1,2,2,1,2,1,1
4,1,8,4,2,1,1,2,1,1,1,2,2,2,2,2,1

In [19]:
# Verificando as dimensões
print("Suporte - Dados Negativos", dadosSuporteNegativo.shape)
print("Suporte - Dados Positivos", dadosSuportePositivo.shape)

Suporte - Dados Negativos (119, 16)
Suporte - Dados Positivos (632, 16)

In [36]:
selecionados = dadosSuportePositivo.sample(144)
selecionados.shape

(144, 16)

In [37]:
selecionados.head()

,CS_SEXO,NU_IDADE_N,CS_RACA,SURTO_SG,FEBRE,TOSSE,GARGANTA,DISPNEIA,DESC_RESP,SATURACAO,DIARREIA,VOMITO,FATOR_RISC,CARDIOPATI,DIABETES,SUPORT_VEN
244,1,6,1,2,1,2,2,1,1,1,2,2,1,1,2,1
269,0,6,4,2,1,1,2,1,1,1,2,2,1,1,1,1
498,1,5,1,2,1,1,2,1,1,1,2,2,1,1,1,1
437,1,7,4,2,1,1,2,1,1,2,2,2,1,2,2,1
624,1,9,4,2,2,2,2,1,1,1,2,2,1,2,1,1

In [38]:
covidData = pd.merge(dadosSuporteNegativo, selecionados, how = 'outer')
covidData.shape

(263, 16)

In [39]:
covidData.head()

,CS_SEXO,NU_IDADE_N,CS_RACA,SURTO_SG,FEBRE,TOSSE,GARGANTA,DISPNEIA,DESC_RESP,SATURACAO,DIARREIA,VOMITO,FATOR_RISC,CARDIOPATI,DIABETES,SUPORT_VEN
0,1,5,4,2,1,1,2,1,1,2,1,2,2,2,2,0
1,0,5,4,2,2,1,2,1,1,2,2,2,1,1,1,0
2,0,7,1,2,1,2,2,1,1,1,1,1,1,2,1,0
3,1,8,4,2,1,2,2,1,2,2,2,2,1,1,1,0
4,1,7,4,2,1,1,2,1,1,1,2,1,1,2,2,0

In [40]:
import sklearn
covidData_shuffled = sklearn.utils.shuffle(covidData)
covidData_shuffled.head()

,CS_SEXO,NU_IDADE_N,CS_RACA,SURTO_SG,FEBRE,TOSSE,GARGANTA,DISPNEIA,DESC_RESP,SATURACAO,DIARREIA,VOMITO,FATOR_RISC,CARDIOPATI,DIABETES,SUPORT_VEN
179,1,6,4,2,2,2,2,1,1,1,2,2,2,2,2,1
189,1,7,4,2,2,1,2,1,2,2,2,2,2,2,2,1
118,1,5,4,2,1,1,1,2,1,1,2,2,2,2,2,0
153,1,4,4,2,2,1,2,1,2,2,2,2,1,1,2,1
253,0,5,4,2,2,2,2,1,1,1,2,2,1,2,2,1

In [41]:
covidData_shuffled.reset_index(inplace=True, drop = True)
covidData_shuffled.head()

,CS_SEXO,NU_IDADE_N,CS_RACA,SURTO_SG,FEBRE,TOSSE,GARGANTA,DISPNEIA,DESC_RESP,SATURACAO,DIARREIA,VOMITO,FATOR_RISC,CARDIOPATI,DIABETES,SUPORT_VEN
0,1,6,4,2,2,2,2,1,1,1,2,2,2,2,2,1
1,1,7,4,2,2,1,2,1,2,2,2,2,2,2,2,1
2,1,5,4,2,1,1,1,2,1,1,2,2,2,2,2,0
3,1,4,4,2,2,1,2,1,2,2,2,2,1,1,2,1
4,0,5,4,2,2,2,2,1,1,1,2,2,1,2,2,1

In [42]:
write = pd.ExcelWriter('balanceados_70_30_Jan2021.xlsx')
covidData_shuffled.to_excel(write, 'dados', index = False)
write.save()