In [1]:
# Este arquivo apresenta a avaliação dos dados balanceados em 
# relação a predição da necessidade de suporte ventilatório

In [12]:
import pandas as pd
import numpy as np

In [13]:
dadosSuportePositivo = pd.read_excel("../../database/novosDados/balanceados/suporte_positivo_pp_Jan2021.xlsx")
dadosSuporteNegativo = pd.read_excel("../../database/novosDados/balanceados/suporte_negativo_pp_Jan2021.xlsx")

In [14]:
# Imprimindo os dataframes
dadosSuportePositivo.head()
dadosSuporteNegativo.head()

,CS_SEXO,NU_IDADE_N,CS_RACA,SURTO_SG,FEBRE,TOSSE,GARGANTA,DISPNEIA,DESC_RESP,SATURACAO,DIARREIA,VOMITO,FATOR_RISC,CARDIOPATI,DIABETES,SUPORT_VEN
0,1,5,4,2,1,1,2,1,1,2,1,2,2,2,2,0
1,0,5,4,2,2,1,2,1,1,2,2,2,1,1,1,0
2,0,7,1,2,1,2,2,1,1,1,1,1,1,2,1,0
3,1,8,4,2,1,2,2,1,2,2,2,2,1,1,1,0
4,1,7,4,2,1,1,2,1,1,1,2,1,1,2,2,0

In [15]:
# Verificando as dimensões
print("Suporte - Dados Negativos", dadosSuporteNegativo.shape)
print("Suporte - Dados Positivos", dadosSuportePositivo.shape)

Suporte - Dados Negativos (119, 16)
Suporte - Dados Positivos (632, 16)

In [16]:
selecionados = dadosSuportePositivo.sample(277)
selecionados.shape

(277, 16)

In [17]:
selecionados.head()

,CS_SEXO,NU_IDADE_N,CS_RACA,SURTO_SG,FEBRE,TOSSE,GARGANTA,DISPNEIA,DESC_RESP,SATURACAO,DIARREIA,VOMITO,FATOR_RISC,CARDIOPATI,DIABETES,SUPORT_VEN
185,1,6,1,2,1,1,1,1,1,2,1,2,1,2,2,1
50,1,7,4,2,2,2,2,1,1,2,2,2,1,1,1,1
627,0,9,1,2,2,1,2,1,1,1,1,2,1,1,2,1
43,1,8,4,2,1,1,2,1,2,2,2,2,1,1,2,1
530,1,6,1,2,1,1,1,1,1,1,2,2,1,1,2,1

In [18]:
covidData = pd.merge(dadosSuporteNegativo, selecionados, how = 'outer')
covidData.shape

(396, 16)

In [19]:
covidData.head()

,CS_SEXO,NU_IDADE_N,CS_RACA,SURTO_SG,FEBRE,TOSSE,GARGANTA,DISPNEIA,DESC_RESP,SATURACAO,DIARREIA,VOMITO,FATOR_RISC,CARDIOPATI,DIABETES,SUPORT_VEN
0,1,5,4,2,1,1,2,1,1,2,1,2,2,2,2,0
1,0,5,4,2,2,1,2,1,1,2,2,2,1,1,1,0
2,0,7,1,2,1,2,2,1,1,1,1,1,1,2,1,0
3,1,8,4,2,1,2,2,1,2,2,2,2,1,1,1,0
4,1,7,4,2,1,1,2,1,1,1,2,1,1,2,2,0

In [20]:
import sklearn
covidData_shuffled = sklearn.utils.shuffle(covidData)
covidData_shuffled.head()

,CS_SEXO,NU_IDADE_N,CS_RACA,SURTO_SG,FEBRE,TOSSE,GARGANTA,DISPNEIA,DESC_RESP,SATURACAO,DIARREIA,VOMITO,FATOR_RISC,CARDIOPATI,DIABETES,SUPORT_VEN
125,0,5,4,2,1,1,2,1,1,1,2,2,2,2,2,1
85,0,4,4,2,1,2,1,2,2,2,1,2,1,2,2,0
42,1,10,4,2,1,2,2,1,2,1,2,2,2,2,2,0
310,0,5,4,2,1,1,2,1,1,1,1,2,1,1,2,1
257,0,7,4,2,1,1,2,1,1,2,2,2,1,2,1,1

In [21]:
covidData_shuffled.reset_index(inplace=True, drop = True)
covidData_shuffled.head()

,CS_SEXO,NU_IDADE_N,CS_RACA,SURTO_SG,FEBRE,TOSSE,GARGANTA,DISPNEIA,DESC_RESP,SATURACAO,DIARREIA,VOMITO,FATOR_RISC,CARDIOPATI,DIABETES,SUPORT_VEN
0,0,5,4,2,1,1,2,1,1,1,2,2,2,2,2,1
1,0,4,4,2,1,2,1,2,2,2,1,2,1,2,2,0
2,1,10,4,2,1,2,2,1,2,1,2,2,2,2,2,0
3,0,5,4,2,1,1,2,1,1,1,1,2,1,1,2,1
4,0,7,4,2,1,1,2,1,1,2,2,2,1,2,1,1

In [22]:
write = pd.ExcelWriter('balanceados_70_30_Jan2021.xlsx')
covidData_shuffled.to_excel(write, 'dados', index = False)
write.save()